<div id="wrapper">
	<h1>Note Scraper</h1>
	<h2><i>New York news.</i></h2>
	<div id="articles">
		{{#each articles}}
			{{{this}}}
		{{/each}}
	</div>
	<div id="notes"></div>
</div>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="js/app.js"></script>